# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/

# Flask session files
flask_session/